@import "../../../../../assets/global-style-variables/variables.scss";

.search-bar-container {
	width: 90%;
	height: 4em;
	margin: 1em auto 3em auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	app-search {
		width: 60%;
		height: 100%;
		display: flex;
	}

	.button-container {
		display: flex;
		flex-direction: row;
		justify-content: end;

		button {
			border: none;
			display: flex;
			background: transparent;
			margin: auto 0.5em;
			cursor: pointer;
		}
	}
}
