@import "../../../../../assets/global-style-variables/variables.scss";

.search-box {
	background-color: $transparent-white;
	border: 2px solid $body-background-color;
	border-radius: 2em;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 2em;

	&:focus,
	&:focus-within {
		input {
			color: $link-color;
		}
	}

	.search-icon {
		background: transparent;
		width: 3em;
		height: 3em;
		overflow: hidden;
		display: flex;
		margin: auto 0 auto -1em;
	}

	input {
		background: transparent;
		font-size: 1em;
		padding: 0.3em;
		height: 60%;
		line-height: 1em;
		width: calc(100% - 1em);
		border: none;
		margin: auto 0;
		outline: none;
		color: $link-tint;
		display: flex;
	}
}
