//
//
// Imports
//
//
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,700;1,200;1,400;1,700&display=swap");
@import "./assets/global-style-variables/browser-reset.scss";
@import "./assets/global-style-variables/variables.scss";

//
//
//Global Styles
//
//

html {
	min-width: $html-width;
	width: $html-width;
	max-width: $html-width;
	min-height: $html-height;
	height: $html-height;
	max-height: $html-height;
	background: linear-gradient(
		90deg,
		$background-gradient-light 0%,
		$background-gradient-blue 20%,
		$background-gradient-pink 80%
	);
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	&,
	body {
		background-repeat: no-repeat;
		background-position: 0px;
		background-size: cover;
		color: $text-color;
		overflow: hidden;
	}

	body {
		margin: 1em auto;
		min-width: $body-width;
		width: $body-width;
		max-width: $body-width;
		min-height: $body-height;
		height: $body-height;
		max-height: $body-height;
		border-radius: 2em;
		border: 2px solid $body-border-color;
		background-color: $body-background-color;
		font-size: 1em;

		app-root {
			display: flex;
			justify-content: space-between;
			width: 100%;
			height: 100%;

			app-navigation-sidebar {
				width: 20%;
				height: 100%;
			}

			app-main {
				width: 80%;
				height: 100%;
				display: flex;
			}

			app-details-sidebar {
				width: 25%;
				height: 100%;
			}

			.tab-title {
				font-size: 1.8em;
			}

			button {
				svg {
					fill: $link-color;
					margin: auto;
				}

				&:hover {
					svg {
						stroke: $link-color;
						stroke-width: 2px;
					}
				}
			}

			.icon {
				svg {
					fill: $link-tint;
					margin: auto;
				}
			}

			label:focus-within,
			.active {
				.icon {
					svg {
						fill: $link-color;
					}
				}
			}
		}
	}
}
