/*
*
* GLOBAL RESET
*
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,700;1,200;1,400;1,700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "Montserrat", sans-serif;
	vertical-align: baseline;
	box-sizing: border-box;
}

/*
*
* VARIABLES
*
*/
:root {
	--background-gradient-light: #e7e5f1;
	--background-gradient-blue: #b9b8ee;
	--background-gradient-pink: #dfc8ca;
	--accent-color: #1bb99f;
	--accent-shade: #259280;
	--text-tint: #b1e1f7;
	--text-color: #bbcfd8;
	--text-shade: #2579a0;
	--pop-color: #ff9fb5;

	--html-width: 100vw;
	--html-height: 100vh;
	--body-width: 95vw;
	--body-height: 95vh;
}

/*
*
* SET TO DARK
*
*/
html,
body {
	background-repeat: no-repeat;
	background-position: 0px;
	background-size: cover;
	color: var(--text-color);
	overflow: hidden;
}

html {
	min-width: var(--html-width);
	width: var(--html-width);
	max-width: var(--html-width);
	min-height: var(--html-height);
	height: var(--html-height);
	max-height: var(--html-height);
	background: linear-gradient(
		90deg,
		var(--background-gradient-light) 0%,
		var(--background-gradient-blue) 20%,
		var(--background-gradient-pink) 80%
	);
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
}

body {
	margin: 1em auto;
	flex-direction: column;
	min-width: var(--body-width);
	width: var(--body-width);
	max-width: var(--body-width);
	min-height: var(--body-height);
	height: var(--body-height);
	max-height: var(--body-height);
	border-radius: 2em;
	border: 2px solid rgba(255, 255, 255, 0.7);
	background-color: rgba(255, 255, 255, 0.3);
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: line-through;
	background-color: var(--accent-shade);
	color: var(--blue-shade);
}

h1 {
	color: var(--pop-color);
	font-size: 3.4em;
	font-weight: 100;
}

/*
*
* NAVIGATION SECTION
*
*/

nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1em;
	height: 100%;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.5);
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
}

nav ul li {
	display: flex;
}

nav ul li a {
	padding: 0.5em 1em;
}

/*
*
* HERO SECTION
*
*/

.hero-section {
	width: 90%;
	height: 40%;
	min-height: 40em;
	background-color: var(--background-tint);
	box-shadow: 0 0 1em var(--background-tint);
	margin: 2em auto;
}

/*
*
* ABOUT SECTION
*
*/

/*
*
* CONTACT SECTION
*
*/
